body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*css Header Board*/

.headerContainer {
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}

.headerCenterChild {
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  justify-content: center;
}

/*Posible answer*/

/*.answers {
  background-color: #61dafb;
}

.answers:hover {
  background-color: #282c34;
}*/

/* Sweep To Right */
.answers {
  height: 50px;
  border-radius: 15px;
  margin: 15px;
  vertical-align: middle;
  align-content: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.answers_checked {
  color: white;
  height: 50px;
  border-radius: 15px;
  margin: 15px;
  vertical-align: middle;
  align-content: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.answers:before {
  content: "";
  position: absolute;
  border-radius: 15px;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.answers:hover, .answers:focus, .answers:active {
  color: white;
}
.answers:hover:before, .answers:focus:before, .answers:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
